body {
 background-image: url("https://t4.ftcdn.net/jpg/04/65/21/31/360_F_465213196_3f9u6Y3iZv4qRV21ZOctMIBVhcE8wutS.jpg");
 }
 h3 {
   margin-left: 10px;
 }
 p{
   margin-left: 10px;
 }
 .square {
   background-color: #0000;
   color: #ffff;
    
 }